styles/Home.module.css
.container {
    background-image: url('/heroImage.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.text {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.stepsCard {
    position: absolute;
    bottom: 230px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    /* max-width: 100px;  */
}

.customCard {
    border: blue solid;
}

.cardBodyCentered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes the full height of the card body */
  }